@charset "utf-8";

$breakpoints: (
  small: 0px,
  medium: 750px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);

@import "foundation-sites/assets/foundation";

$jb-blue:               #0040FF;
$jb-box-border-width:   4px;


@mixin box-mixin {
  border: $jb-box-border-width solid $jb-blue;
  padding: 20px 20px 50px 20px;
}

body {
  font-family: 'Varela-Round', sans-serif;
  color: $jb-blue;
}

.box {
  @include box-mixin;
}

.wrapper {
  margin-top: 40px;
}

section.sidebar {
  h1 {
    position: absolute;
    border: $jb-box-border-width solid $jb-blue;
    padding: 10px 10px 40px 10px;
    line-height: 45px;
    text-transform: uppercase;
    z-index: 100;
  }
  img.profile {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 150px;
  }

}

section.index {
  h2 {
    margin-bottom: 25px;
    line-height: 35px;
    font-size: 36px;
  }
}

@include breakpoint(small only) {
  section.sidebar, section.index .columns {
    margin-bottom: 30px;
  }

  section.sidebar h1, section.sidebar img.profile {
    position: relative ! important;
  }
}
