<div class='row'>
  <img class='profile' src='/images/profile.jpg' />
</div>

<div class='row'>
  <h1>Jason Byck</h1>
</div>

<div class='row'>
  <p>
    I'm a full-stack software developer and engineering manager, currently CTO of Quandl, where I’m working on the premier financial data platform in the world.
  </p>
  <p>
    I’ve spent my career working at Toronto area technology companies, primarily startups, where I’ve solved engineering challenges and helped build products, platforms and teams.
  <p>
    I studied Computer Science and Physics at the University of Toronto.
  </p>
  <p>
    I currently live in Brooklyn with my wife and dog.
  </p>
</div>

<div class='row'>
  <ul class='contact'>
    <li>
      <a href='https://github.com/jbyck' target='_blank'>
        <span class='socicon-github' />
      </a>
    </li>
    <li>
      <a href='https://www.linkedin.com/in/jasonbyck', target='_blank'>
        <span class='socicon-linkedin' />
      </a>
    </li>
    <li>
      <a href='https://www.instagram.com/jbyck' target='_blank'>
        <span class='socicon-instagram' />
      </a>
    </li>
    <li>
      <a href='https://twitter.com/jbyck' target='_blank'>
        <span class='socicon-twitter' />
      </a>
    </li>
    <li>
      <a href='mailto:jason@jasonbyck.com'>
        <span class='socicon-mail' />
      </a>
    </li>
  </ul>
</div>
